@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

<<<<<<< HEAD
body {
  font-family: "Poppins", sans-serif;
}

=======
/* ************************************** */

.Top-bar{
  align-items: center;
  background-color: black ;
  display: flex;
  justify-content: space-between;
  font-size: 14px; 
  /* padding: 10px 25px 10px 25px;    */
}
.Top-bar .Top-first{
  height: 40px;
  align-items: center ;
  display: flex;
  justify-content: space-between;
}
.Top-bar .Top-first .Top-first-left{
  display: flex;
 
  gap: 15px;
  
}
.Top-bar .Top-first .Top-first-left span{
  font-size: 14px;
  font-weight: 650;
}
.Top-bar .Top-first .Top-first-left li {
  
  border-right: 1px solid white;
}
.Top-bar .Top-first .Top-first-left li i{
  padding-right: 7px;
  color: #c00b25;
  
}



.Top-bar .Top-first .Top-first-left li a:hover i {
  color: white;
}

.Top-bar .Top-first .Top-first-left li a:hover span {
  color: #c00b25;
}
.Top-bar .Top-first .Top-first-left a{
  color: white;
  padding-right: 8px;


  
}

.Top-bar .Top-first .Top-first-right    {
  display: flex;
  gap: 5px;

}
.Top-bar .Top-first .Top-first-right a{
background: #c00b25;
    padding: 3px 5px 3px 5px;
    color: white;
    font-size: 12px;
}

.Top-bar .Top-first .Top-first-right a:hover{
  background-color: #970518 !important;
  color: rgb(240, 240, 240);
}



.header{
  z-index: 2;
  background-color: white;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.header-content{
  height: 90px;
  display: flex;
  align-items: center;
  padding: 15px;
}
.header-left{
  width: 20%;
}
.header-right li{
  padding-left: 15px;
  padding-right: 15px;
}
.header-right{
  display: flex;
  width: 80%;
 justify-content: center;
  font-weight: 500;
  
  align-items: center;
}
.header-right li a{
  font-size: 16px;
}
.header-right li a:hover{
  color: #c00b25;
}
#menu li a.active{
color: #c00b25;
}
.header-right li{
  position: relative;
}
.header-right li a{
  color: black;
}

.dropdown{
  position: fixed;
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  background: #f7f7f7;
  top: 22%;
  left: 0;
  padding: 40px;
  width: 100vw;
  visibility: hidden;
  z-index: 9;
}
.header-right li:hover .dropdown{
  visibility: visible;
}
.dropdown h2{
  text-align: center;
  font-size: 24px;
  position: relative;  
}
.dropdown h2::after {
  content: '';
  background: rgb(277, 3, 46);
    width: 120px;
    display: inline-block;
    height: 2px;
    position: absolute;
    bottom: -17px;
    left: 50%;
    transform: translateX(-50%);
}

.cards{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 40px;
}

.cards .img-p img{
  border-radius: 20px;
  
}
.cards .img-p{
 
   margin-right: 15px;
}
.cards .img-p p{
  font-size: 14px;
 font-weight: 700;
  padding-top: 15px;
  text-align: center;
}
.dropdown2{
  position: absolute;
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  background: #f7f7f7;
  top: 22%;
  left: 0;
  box-shadow: 0 10px 30px 0 rgba(45, 45, 45, .2);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px !important;
  border: 1px solid #dadada;

  visibility: hidden;
  z-index: 9;
  top: 135%;
}

.dropdown2 ul li a{
  font-weight: 400;
    font-size: 14px;
}
.header-right li:hover .dropdown2{
  visibility: visible;

}
/* ************************************************************************** */

>>>>>>> 2f1e812f4c9efd94b5ba4f233eeb471f44845dca
.destination {
  text-align: center;
}
.destination h2 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  color: rgb(227, 3, 46);
  text-transform: capitalize;
}
.destination h3 {
  font-size: 34px;
  font-weight: 500;
  font-style: normal;
  text-transform: capitalize;
  margin: 20px 0;
  position: relative;
}
.destination h3::after {
  content: " ";
  position: absolute;
  top: 130%;
  left: calc(50% - 20px);
  width: 40px;
  height: 2px;
  background-color: rgb(227, 3, 46);
}
.destination p {
  font-size: 17px;
  font-weight: 500;
  color: #777777;
  line-height: 1.7;
}
.destination .destination_images {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 20px;
  perspective: 1000px;
}
.destination .destination_images .dest_img {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.1s; /* Smooth transition for the rotation */
  transform-style: preserve-3d;
}
.destination .destination_images .dest_img .dest_txt {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  color: #f7f7f7;
  text-transform: capitalize;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: italic;
  background-color: rgba(122, 122, 122, 0.7215686275);
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 12px 12px;
}
.destination .destination_images .dest_img:hover img {
  opacity: 0.82;
  filter: brightness(100%) contrast(120%) saturate(110%) blur(0px) hue-rotate(0deg);
}

.services {
  padding: 100px 0;
}
<<<<<<< HEAD
.services .ser {
  display: flex;
  align-items: center;
  gap: 50px;
}
.services .ser .ser_img {
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.5s ease;
  width: 50%;
}
.services .ser .ser_txt {
  width: 50%;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.5s ease;
}
.services .ser .ser_txt h2 {
  font-size: 45px;
  font-weight: 400;
  text-transform: uppercase;
}
.services .ser .ser_txt p {
  font-size: 17px;
  color: #777777;
  margin: 20px 0;
}
.services .ser .ser_txt a {
  color: #fff;
  background-color: rgb(227, 3, 46);
  padding: 5px 20px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
  min-height: 42px;
  display: inline-block;
  line-height: 42px;
}

.container {
  max-width: 1192px !important;
}
=======




>>>>>>> 2f1e812f4c9efd94b5ba4f233eeb471f44845dca

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/*# sourceMappingURL=main.css.map */
